# Django keys
DJANGO_SECRET_KEY = Your django project api key (required)
DEBUG = Debug boolean value
ALLOWED_HOSTS = Your allowed hosts

# Database
DATABASE_NAME = Database name (required)
DATABASE_ENGINE = Database engine
DATABASE_USER = Database user
DATABASE_PASSWORD = Database password
DATABASE_HOST = Database host
DATABASE_PORT = Database port

# API keys
NEWS_API_KEY = API key from newsdata (required)
TRANSLATE_API_HOST = nlp-translation.p.rapidapi.com (required)

# Google Auth Keys
GOOGLE_CLIENT_ID = GOOGLE CLIENT ID
GOOGLE_CLIENT_SECRET = GOOGLE CLIENT ID SECRET

# Elastic Search
ELASTIC_SEARCH_HOSTS = ELASTIC SEARCH HOSTS